ul {
	list-style-type: none;
	position: relative;
	padding-left: 0;
}

li {
	margin-bottom: 15px;
	display: block;
	position: relative;
	color: white;
}

.comments-container {
	max-width: 80%;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.comment-box {
	/*padding: 15px 15px;*/
}

.comment-header {
	padding: 8px 8px;
	background-color: #eeeeee;
	color: #0e0e0e;
	border-bottom: 1px solid black;
}

.comment-body {
	padding: 15px 8px;
	background-color: #eeeeee;
	color: #0f0f0f;
}

#comment-author {
	color: #48343a;
	font-weight: bolder;
	font-size: 1.2rem;
}

#comment-time {
	color: #7a5d65;
	font-size: 0.8rem;
}

#comment-emojis {
	float: right;
}