.landing-page {
	position: relative;
	width: 100%;
	text-align: center;
}

.background-image {
	min-width: 100%;
	width: 100%;
	height: 100%;
	min-height: 600px;
	max-height: 800px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

/*need to sort out staying tall or covering for the background image */

.landing-title {
	margin-top: -5px;
	padding-top: 25px;
	font-size: 3.4rem;
	color: #f5f1df;
	text-shadow: 1px 1px 1px rgb(72,52,58);
}

.landing-page-text {
	padding: 20px;
	text-shadow: 1px 1px 1px rgb(72,52,58);
	background-color: rgb(72,52,58, 0.4);
	border-radius: 3%;
	color: #f5f1df;
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 1.8px;
	width: 60%;
	margin: 0 auto;
}


.zipcode-search-box {
	border: none;
	border-bottom: 3px solid white;
	background: rgba(0, 0, 0, 0.0);
	width: 60%;
	font-size: 2.3rem;
	text-transform: uppercase;
	text-align: center;
	color: #f5f1df;
	font-weight: bolder;
	letter-spacing: 5px;
	margin-top: 15px;
}

input::-webkit-input-placeholder {
   text-align: center;
   letter-spacing: 5px;
   color: #f5f1df;
}

input::-moz-placeholder { /* Firefox 18- */
   text-align: center;
   letter-spacing: 5px;
   color: #f5f1df;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   letter-spacing: 5px;
   color: #f5f1df;  
}

input::-ms-input-placeholder {  
   text-align: center;
   letter-spacing: 5px;
   color: #f5f1df; 
}

button.zipcode-search-button {
	border: none;
	background: transparent;
	vertical-align: bottom;
	font-size: 1.4rem;
	text-shadow: 1px 1px 1px rgb(72,52,58);
	color: #f5f1df;
}

button.zipcode-search-button:hover {	
	font-size: 1.6rem;
}

@media only screen and (min-width: 650px) {
	.landing-page-text{
		font-size: 1.9em;
	}
}