body {
    background-image: url("https://s3.amazonaws.com/fasfawefaf/yvette-de-wit-118721-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

h2 {
    font-size:25px;
    color: #f5f1df;    
    width: 275px;
    margin: 0 auto;
}

form {
    width: 131px;
    margin: 25px auto;
    background-color: rgba(72,52,58, 0.6);
    border: 1px solid  #f1b879;
    border-radius: 3%;
    padding: 20px 35px;
}

label {
    color: #f5f1df;
}

.form-input{
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
    padding: 5px;
    border-radius: 3%;
}

.form-error {
    color: red;
}

a {
    display: block;
    color: #f5f1df;
    width: 60px;
    margin: 0 auto;
}

button {
    color: #f5f1df;;
    padding: 5px;
    background-color: rgb(72,52,58);
    border: 1px solid #f5f1df;
    border-radius: 3%;
}

/* @media only screen and (min-width: 650px) {
    form {
        width: 300px;
        margin: 50px auto;
        
    }

    label .form-input {
      width: 100px;
      margin: 0 auto;
    }
} */

