
h2 {
    margin-top: 40px;
    font-size:30px;
    color: red;    
    width: 250px;
    margin: 0 auto;
}

form {
    width: 131px;
    margin: 25px auto;
    background-color: rgba(72,52,58, 0.6);
    border: 1px solid  #f1b879;
    border-radius: 3%;
    padding: 20px 35px;
}

label {
    color: #f5f1df;
}

.form-input{
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
    padding: 5px;
    border-radius: 3%;
}

.form-error {
    color: red;
}

a {
    display: block;
    color: #f5f1df;
}

button {
    color: #f5f1df;
    padding: 5px;
    background-color: rgb(72,52,58);
    border: 1px solid #f5f1df;
    border-radius: 3%;
}

.button-container {
    width: 50px;
    margin: 0 auto;
}

.register-link {
    color: rgb(72,52,58);
    width: 50px;
    margin: 0 auto;
}

.login-link {
    display: block;
    color: #f5f1df;
    width: 35px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    form {
        width: 300px;
        margin: 50px auto;
        
    }
    
    .input-container {
        width: 140px;
        margin: 0 auto;
    }
}
