.logo-button {
    display: inline;
    width: inherit;
    border-radius: 3%;
    font-size: 0.8em;
}

a.logo-button:link, a.logo-button:visited {
    color: #f5f1df;
    padding: 5px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a.logo-button:hover, a.logo-button:active {
    background-color: #8f4d3b;
}

div.menu {
    width: 35px;
    height: 5px;
    background-color: #f5f1df;
    margin: 6px 0;
}

div.toggle {
    float: right;
    padding: 14px 20px;
}

.bm-menu {
    background: blue;
    position: relative;
    left: 20%;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-burger-bars {
    background: #f5f1df;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 20px;
}

